@page
@model SSLCertificateTrackingWebApp.Pages.CertificatesInfo.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CertificateInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CertificateInfo.CertificateCategoryID" class="control-label"></label>
                <input asp-for="CertificateInfo.CertificateCategoryID" class="form-control" />
                <span asp-validation-for="CertificateInfo.CertificateCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.WorkOrderNumber" class="control-label"></label>
                <input asp-for="CertificateInfo.WorkOrderNumber" class="form-control" />
                <span asp-validation-for="CertificateInfo.WorkOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.CertificateName" class="control-label"></label>
                <input asp-for="CertificateInfo.CertificateName" class="form-control" />
                <span asp-validation-for="CertificateInfo.CertificateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.CommonName" class="control-label"></label>
                <input asp-for="CertificateInfo.CommonName" class="form-control" />
                <span asp-validation-for="CertificateInfo.CommonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.CertificateTemplate" class="control-label"></label>
                <input asp-for="CertificateInfo.CertificateTemplate" class="form-control" />
                <span asp-validation-for="CertificateInfo.CertificateTemplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.Hosted" class="control-label"></label>
                <input asp-for="CertificateInfo.Hosted" class="form-control" />
                <span asp-validation-for="CertificateInfo.Hosted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.SubjectAlternativeNames" class="control-label"></label>
                <input asp-for="CertificateInfo.SubjectAlternativeNames" class="form-control" />
                <span asp-validation-for="CertificateInfo.SubjectAlternativeNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.CertificateType" class="control-label"></label>
                <input asp-for="CertificateInfo.CertificateType" class="form-control" />
                <span asp-validation-for="CertificateInfo.CertificateType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.WebServer" class="control-label"></label>
                <input asp-for="CertificateInfo.WebServer" class="form-control" />
                <span asp-validation-for="CertificateInfo.WebServer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.Organization" class="control-label"></label>
                <input asp-for="CertificateInfo.Organization" class="form-control" />
                <span asp-validation-for="CertificateInfo.Organization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.ServersInstalledOn" class="control-label"></label>
                <input asp-for="CertificateInfo.ServersInstalledOn" class="form-control" />
                <span asp-validation-for="CertificateInfo.ServersInstalledOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.OperatingSystem" class="control-label"></label>
                <input asp-for="CertificateInfo.OperatingSystem" class="form-control" />
                <span asp-validation-for="CertificateInfo.OperatingSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.Department" class="control-label"></label>
                <input asp-for="CertificateInfo.Department" class="form-control" />
                <span asp-validation-for="CertificateInfo.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.CertificateEffectiveDate" class="control-label"></label>
                <input asp-for="CertificateInfo.CertificateEffectiveDate" class="form-control" />
                <span asp-validation-for="CertificateInfo.CertificateEffectiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.ApplicationName" class="control-label"></label>
                <input asp-for="CertificateInfo.ApplicationName" class="form-control" />
                <span asp-validation-for="CertificateInfo.ApplicationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.Requester" class="control-label"></label>
                <input asp-for="CertificateInfo.Requester" class="form-control" />
                <span asp-validation-for="CertificateInfo.Requester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.CertificateExpirationDate" class="control-label"></label>
                <input asp-for="CertificateInfo.CertificateExpirationDate" class="form-control" />
                <span asp-validation-for="CertificateInfo.CertificateExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.IssuesBy" class="control-label"></label>
                <input asp-for="CertificateInfo.IssuesBy" class="form-control" />
                <span asp-validation-for="CertificateInfo.IssuesBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.ServerName" class="control-label"></label>
                <input asp-for="CertificateInfo.ServerName" class="form-control" />
                <span asp-validation-for="CertificateInfo.ServerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.Notes" class="control-label"></label>
                <textarea asp-for="CertificateInfo.Notes" class="form-control"></textarea>
                <span asp-validation-for="CertificateInfo.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.IssuedEmailAddress" class="control-label"></label>
                <input asp-for="CertificateInfo.IssuedEmailAddress" class="form-control" />
                <span asp-validation-for="CertificateInfo.IssuedEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.ServerType" class="control-label"></label>
                <input asp-for="CertificateInfo.ServerType" class="form-control" />
                <span asp-validation-for="CertificateInfo.ServerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.SpecialistWhoIssued" class="control-label"></label>
                <input asp-for="CertificateInfo.SpecialistWhoIssued" class="form-control" />
                <span asp-validation-for="CertificateInfo.SpecialistWhoIssued" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CertificateInfo.CMCert" /> @Html.DisplayNameFor(model => model.CertificateInfo.CMCert)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CertificateInfo.DomainMember" /> @Html.DisplayNameFor(model => model.CertificateInfo.DomainMember)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.Approver" class="control-label"></label>
                <input asp-for="CertificateInfo.Approver" class="form-control" />
                <span asp-validation-for="CertificateInfo.Approver" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CertificateInfo.IssuedFromNewPKI" /> @Html.DisplayNameFor(model => model.CertificateInfo.IssuedFromNewPKI)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.Status" class="control-label"></label>
                <input asp-for="CertificateInfo.Status" class="form-control" />
                <span asp-validation-for="CertificateInfo.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.RequestedDate" class="control-label"></label>
                <input asp-for="CertificateInfo.RequestedDate" class="form-control" />
                <span asp-validation-for="CertificateInfo.RequestedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.ApprovedDate" class="control-label"></label>
                <input asp-for="CertificateInfo.ApprovedDate" class="form-control" />
                <span asp-validation-for="CertificateInfo.ApprovedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.DeclinedDate" class="control-label"></label>
                <input asp-for="CertificateInfo.DeclinedDate" class="form-control" />
                <span asp-validation-for="CertificateInfo.DeclinedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.RevokedDate" class="control-label"></label>
                <input asp-for="CertificateInfo.RevokedDate" class="form-control" />
                <span asp-validation-for="CertificateInfo.RevokedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.ReplacedDate" class="control-label"></label>
                <input asp-for="CertificateInfo.ReplacedDate" class="form-control" />
                <span asp-validation-for="CertificateInfo.ReplacedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateInfo.DiscoveredDate" class="control-label"></label>
                <input asp-for="CertificateInfo.DiscoveredDate" class="form-control" />
                <span asp-validation-for="CertificateInfo.DiscoveredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
