<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--Mode can be set to Daily or Interval-->
		<add key ="Mode" value ="Interval" />
		<!--This only functions when Mode is set to Interval-->
		<add key ="IntervalMinutes" value ="1" />
		<!--This only functions when Mode is set to Daily. Uses 24hr format (Example: 3:00pm would be 15:00)-->
		<add key ="ScheduledTime" value ="05:00" />
		<!--Default value is 30 days.  Emails will be sent 30 days prior to certificate expiration-->
		<add key ="ExpireDeliveryDays" value="30"/>
		<!--This can only have one value and must be the email account used to send message via smtp server-->
		<add key ="EmailSender" value=""/>
		<!--The subject of the Email-->
		<add key ="EmailSubject" value=""/>
		<!--Email recipients seperated by a semicolon(;)-->	
		<add key ="EmailRecipients" value=""/>
		<!--This are only here temporarily to test the mail notification service-->
		<add key="SMTPServer" value=""/>
		<add key="SMTPServerPort" value=""/>
		<add key="SMTPServerEnableSsl" value="true"/>
		<add key="SMTPServerUsername" value=""/>
		<add key="SMTPServerPassword" value=""/>		
	</appSettings>
	<connectionStrings>
		<add name="SSLCertificateTrackingWebAppContext" connectionString="Server=(LocalDB)\MSSQLLocalDB;Integrated Security=true;AttachDbFileName=C:\Users\Anabe\SSLCertificateTrackingWebAppContext-39157dab-2097-4b27-911d-e70934b1626d.mdf" />
	</connectionStrings>
</configuration>